@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 11pt;
  overflow: hidden;
  background-color: #141818;
}

body {
  display: grid;
  align-items: center;
  justify-items: center;

}

h1 {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
}


label {
  text-align: left;
}

input {
  width: 100%;
  height: 1.5em;
  padding: 1.1em 0 0.95em 0;
  font-size: 1.3rem;
  border-radius: 8px;
  border:0px solid black;
  box-shadow: 0 8px 16px rgba(0, 255, 255, 0.125), inset 0 2px 4px rgba(159, 202, 223, 0.25);
  outline: none;
  text-align: center;
  background-color: #141818;
}
input#time {
  color: #00cccc;
}
input#Setpoint {
  color:yellowgreen;
  font-size: 1.75rem;
}
input#Kp {
  color: #0af;
}
input#Ki {
  color: #0af;
}
input#Kd {
  color: #0af;
}
input#Offset {
  color: #0af;
}

#panel {
  display: grid;
  grid-gap: 2em;
  justify-items: center;
  min-width: 480px;
  padding: 1rem 0 2rem 0;
  border: 1px solid green; 
  border-radius: 1rem;
  background-color: #29363d;
  box-shadow: 0 8px 16px rgba(0, 255, 0, 0.25), inset 0 2px 4px rgba(0, 202, 0, .525);
}

#screen {
  width: 65%;
  padding: .28em 0 .1em 0;
  font-size: 2.75rem;
  text-align: center;
  text-shadow: 0 1px 2px #000;
  color: #2f2;
  background-color: #050;
  border-radius: 8px;
  box-shadow: inset 0 4px 8px #000, 0 1px 1px rgba(255, 255, 255, 0.3);

}
#screen.error {
  color: #ffaa00;
  background-color: #664400;
}
#screen.cold {
  color: #33bbff;
  background-color: #003366;
}
#screen.hot {
  color: #d92626;
  background-color: #400;
}
#screen sup {
  font-size: .5em;
}

@media (max-width: 390px) {
  html, body {
  font-size: 9pt;
  }

  #screen {
    font-size: 2rem;
  }

  #panel {
    width: 80%;
    min-width: 0;
  }
}
.parameters {
  display: grid;
  grid-gap: 1em;
  width: 50%;
}

.display {
  display: grid;
  grid-gap: .25rem;
}

.buttons1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}
.buttons2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
}

button {
  padding: .5em 1em;
  font-size: 1.2rem;
  color: yellowgreen;
  text-shadow: 0 -1px 1px #000;
  border: 1px solid;
  border-radius: .5em;
  background-image: linear-gradient(#2e3538, #73848c);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5), inset 0 2px 4px rgba(159, 202, 223, 0.25);
  outline: none;
   
}
button:active {
  color: orange;
  box-shadow: 0 8px 16px rgba(255, 150, 0, 0.75),inset 0 2px 4px rgba(159, 202, 223, 0.25);
  transform: translateY(4px);
}


.inset {
  color: #668899;
  text-shadow: -1px -1px 0 #000;
}


#led_01 {
  position: relative;
  width: 3em;
  height: 1em;
  border-radius: 2.5em;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(159, 202, 223, 0.25);

}
#led_01.on {
  background-image: radial-gradient(farthest-corner at 50% 75%, yellowgreen 0%, green 100%);
  box-shadow: 0 8px 16px rgba(0, 255, 0, 0.4), inset 0 2px 4px rgba(159, 202, 223, 0.25);
}
#led_01:after {
  content: '';
  position: absolute;
  top: .3em;
  left: 1em;
  width: 60%;
  height: 40%;
  border-radius: 60%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
}
#led_02 {
  position: relative;
  width: 3em;
  height: 1em;
  border-radius: 2.5em;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(159, 202, 223, 0.25);
}
#led_02.on {
  background-image: radial-gradient(farthest-corner at 50% 75%, yellowgreen 0%, green 100%);
  box-shadow: 0 8px 16px rgba(0, 255, 0, 0.4), inset 0 2px 4px rgba(159, 202, 223, 0.25);
}
#led_02:after {
  content: '';
  position: absolute;
  top: .3em;
  left: 1em;
  width: 60%;
  height: 40%;
  border-radius: 60%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
}
#led_03 {
  position: relative;
  width: 3em;
  height: 1em;
  border-radius: 2.5em;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(159, 202, 223, 0.25);
}
#led_03.on {
  background-image: radial-gradient(farthest-corner at 50% 75%, yellowgreen 0%, green 100%);
  box-shadow: 0 8px 16px rgba(0, 255, 0, 0.4), inset 0 2px 4px rgba(159, 202, 223, 0.25);
}
#led_03:after {
  content: '';
  position: absolute;
  top: .3em;
  left: 1em;
  width: 60%;
  height: 40%;
  border-radius: 60%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
}
#led_04 {
  position: relative;
  width: 3em;
  height: 1em;
  border-radius: 2.5em;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(159, 202, 223, 0.25);
}
#led_04.on {
  background-image: radial-gradient(farthest-corner at 50% 75%, yellowgreen 0%, green 100%);
  box-shadow: 0 8px 16px rgba(0, 255, 0, 0.4), inset 0 2px 4px rgba(159, 202, 223, 0.25);
}
#led_04:after {
  content: '';
  position: absolute;
  top: .3em;
  left: 1em;
  width: 60%;
  height: 40%;
  border-radius: 60%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
}
#led_05 {
  position: relative;
  width: 3em;
  height: 1em;
  border-radius: 2.5em;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(159, 202, 223, 0.25);
}
#led_05.on {
  background-image: radial-gradient(farthest-corner at 50% 75%, yellowgreen 0%, green 100%);
  box-shadow: 0 8px 16px rgba(0, 255, 0, 0.4), inset 0 2px 4px rgba(159, 202, 223, 0.25);
}
#led_05:after {
  content: '';
  position: absolute;
  top: .3em;
  left: 1em;
  width: 60%;
  height: 40%;
  border-radius: 60%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
}
#led_06 {
  position: relative;
  width: 3em;
  height: 1em;
  border-radius: 2.5em;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(159, 202, 223, 0.25);
}
#led_06.on {
  background-image: radial-gradient(farthest-corner at 50% 75%, yellowgreen 0%, green 100%);
  box-shadow: 0 8px 16px rgba(0, 255, 0, 0.4), inset 0 2px 4px rgba(159, 202, 223, 0.25);
}
#led_06:after {
  content: '';
  position: absolute;
  top: .3em;
  left: 1em;
  width: 60%;
  height: 40%;
  border-radius: 60%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
}


#led_07 {
  position: relative;
  width: 3em;
  height: 1em;
  border-radius: 2.5em;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(159, 202, 223, 0.25);
}
#led_07.on {
  background-image: radial-gradient(farthest-corner at 50% 75%, yellowgreen 0%, green 100%);
  box-shadow: 0 8px 16px rgba(0, 255, 0, 0.4), inset 0 2px 4px rgba(159, 202, 223, 0.25);
}
#led_07:after {
  content: '';
  position: absolute;
  top: .3em;
  left: 1em;
  width: 60%;
  height: 40%;
  border-radius: 60%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
}
#led_08 {
  position: relative;
  width: 3em;
  height: 1em;
  border-radius: 2.5em;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(159, 202, 223, 0.25);
}
#led_08.on {
  background-image: radial-gradient(farthest-corner at 50% 75%, yellowgreen 0%, green 100%);
  box-shadow: 0 8px 16px rgba(0, 255, 0, 0.4), inset 0 2px 4px rgba(159, 202, 223, 0.25);
}
#led_08:after {
  content: '';
  position: absolute;
  top: .3em;
  left: 1em;
  width: 60%;
  height: 40%;
  border-radius: 60%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
}



.leds {
  width: 3em;
  height: 2em;
  border-radius: 0.25em;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(159, 202, 223, 0.25);
  border: 1px solid green;
}


#leds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}
